@import "partials/mixins";
@import "partials/colors";
@import "partials/fonts";
@import "partials/header";
@import "partials/registro";
* {
    @include initial;
}
html body {
    padding: 15px;
    .header {
        @include flexbox(row, space-between, center);
        @include size(100px,100%);
        vertical-align: middle;
        h1 {
            color: $text;
            font-family: $spartan;
        }
        a {
            color: $text;
            font-family: $spartan;
            margin-right: 10px;
            text-decoration: none;
        }
    }
    
    .estadisticas {
        @include grid(4, space-between, center);
        .card {
            @include flexbox(column, center, center);
            @include size(200px, 250px);
            background: $text;
            i,
            p,
            h2 {
                color: $cards;
            }
            i {
                font-size: 55px;
            }
            h2 {
                font-family: $spartan;
                padding: 15px 0px;
            }
            p {
                font: bolder 30px $spartan;
            }
        }
    }
    .p {
        background: $text;
        margin: 10px 0px;
        .titulo {
            @include flexbox(row, initial, center);
            @include size(75px, initial);
            h2 {
                color: $cards;
                font-family: $spartan;
                padding: 0px 20px;
            }
            button {
                background: $cards;
                border: none;
                color: $text;
                font-family: $spartan;
                outline: none;
                padding: 12px 24px;
                transition: 0.3s all;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }

        .modals {
            @include flexbox(row, center, center);
            @include position(fixed, 0, 0, initial, initial);
            @include size(100vh, 100vw);
            background: rgba($color: #000000, $alpha: 0.55);
            transition: 0.5s all;
            form {
                @include flexbox(column, center, flex-start);
                @include position(relative, initial, initial, initial, initial);
                @include size(initial, 300px);
                background: white;
                margin: 0 auto;
                padding: 10px;
                .cerrar {
                    @include position(absolute, 5px, initial, 5px, initial);
                    &:hover {
                        cursor: pointer;
                    }
                }
                h3 {
                    color: $text;
                    font: bolder $spartan;
                    text-align: center;
                    margin: 10px auto;
                }
                input {
                    @include size(initial, 260px);
                    border: 2px solid $text;
                    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
                    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
                    font-family: $spartan;
                    margin: 0px auto;
                    outline: none;
                    padding: 25px 10px 2px;
                }
                input[type="checkbox"] {
                    @include size(25px, initial);
                    box-shadow: none;
                }
                label {
                    @include position(relative, 20px, 22px, initial, initial);
                    color: $text;
                    font: bolder 13px $spartan;
                }
                .colores {
                    @include grid(4, center, center);
                    @include position(relative, 10px, 5px, initial, initial);
                    @include size(70px, initial);
                    .color {
                        @include flexbox(column, center, center);
                        margin: 6px;
                        label {
                            @include position(relative, 0, 0, initial, initial);
                        }
                        input[type="checkbox"] {
                            @include size(initial, auto);
                        }
                    }
                }
                button {
                    @include size(initial, 250px);
                    background: $text;
                    border: none;
                    color: $cards;
                    margin: 10px auto;
                    outline: none;
                    padding: 12px 24px;
                }
                .mensaje {
                    display: none;
                }
            }
        }
        .disabled {
            display: none;
        }
        table {
            @include size(initial, 100%);
            background: $cards;
            border-collapse: collapse;
            thead {
                tr {
                    th {
                        border-bottom: 1px solid $text;
                        font: bolder 17px $spartan;
                        padding: 10px;
                        text-align: center;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border-bottom: 1px solid $text;
                        font: lighter 14px $spartan;
                        margin: auto;
                        padding: 10px;
                        text-align: center;
                        .editar,
                        .eliminar {
                            border: none;
                            border-radius: 10px;
                            color: white;
                            padding: 8px;
                            transition: 0.4s all;
                            i {
                                font-size: 18px;
                            }
                            &:hover {
                                cursor: pointer;
                                transform: scale(1.1);
                            }
                        }
                        .editar {
                            background: cornflowerblue;
                        }
                        .eliminar {
                            background: red;
                        }

                        .edit,
                        .delete {
                            @include flexbox(row, center, center);
                            @include position(fixed, 0, 0, initial, initial);
                            @include size(100vh, 100vw);
                            background: rgba($color: #000000, $alpha: 0.55);
                            transition: 0.5s all;
                            form {
                                @include flexbox(column, center, flex-start);
                                @include position(relative, initial, initial, initial, initial);
                                @include size(initial, 300px);
                                background: white;
                                margin: 0 auto;
                                padding: 10px;
                                .closed,
                                .closed_d {
                                    @include position(absolute, 5px, initial, 5px, initial);
                                    z-index: 10;
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                                h3 {
                                    color: $text;
                                    font: bolder $spartan;
                                    margin: 10px auto;
                                    text-align: center;
                                }
                                input {
                                    @include size(initial, 260px);
                                    border: 2px solid $text;
                                    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
                                    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
                                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
                                    margin: 0px auto;
                                    font-family: $spartan;
                                    outline: none;
                                    padding: 25px 10px 2px;
                                }
                                input[type="checkbox"] {
                                    @include size(25px, initial);
                                    box-shadow: none;
                                }
                                label {
                                    @include position(relative, 20px, 22px, initial, initial);
                                    color: $text;
                                    font: bolder 13px $spartan;
                                }
                                .colores {
                                    @include grid(4, center, center);
                                    @include position(relative, 10px, 5px, initial, initial);
                                    @include size(70px, initial);
                                    .color {
                                        @include flexbox(column, center, center);
                                        margin: 6px;
                                        label {
                                            @include position(relative, 0, 0, initial, initial);
                                        }
                                        input[type="checkbox"] {
                                            @include size(initial, auto);
                                        }
                                    }
                                }
                                button {
                                    @include size(initial, 250px);
                                    border: none;
                                    background: $text;
                                    color: $cards;
                                    margin: 10px auto;
                                    outline: none;
                                    padding: 12px 24px;
                                }
                                .mensaje {
                                    display: none;
                                }
                            }
                        }
                        .disabled {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .tablas {
        @include flexbox(row, center, flex-start);
        @include size(initial, 100%);
        .colores,
        .categorias {
            @include size(initial, 50%);
        }
        .categorias {
            margin-left: 10px;
        }
    }
}
