@import "partials/mixins";
@import "partials/colors";
@import "partials/fonts";
@import "partials/header";
@import "partials/registro";
@import "partials/slider";
* {
    @include initial;
}
html {
    scroll-behavior: smooth;
    body {
        @include header;

        .lista-carrito {
            display: none;
            height: 0;
        }
        .show-menu {
            @include flexbox(column, center, center);
            height: auto;
            position: absolute;
            top: 80px;
            right: 0;
            width: 500px;
            z-index: 6;
            padding: 10px;
            background: rgba($background, $alpha: 0.9);
            .producto-carrito,
            .precio-final,
            .boton-checkout {
                width: 100%;
            }
            .producto-carrito {
                @include flexbox(row, space-between, center);
                background: rgba($cards, $alpha: 0.38);
                margin: 5px auto;
                padding: 8px;
                .datos-producto {
                    @include flexbox(row, flex-start, center);
                    .carrito-imagen {
                        padding: 2px;
                    }
                    .carrito-descripcion {
                        padding: 0 1.1em;
                        h3,
                        p {
                            color: $text;
                            font-family: $spartan;
                        }
                        h3 {
                            font-weight: bolder;
                            font-size: 14px;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                }
                .carrito-precio {
                    color: $text;
                    font-family: $spartan;
                    font-weight: bolder;
                    font-size: 16px;
                }
            }
            .precio-final {
                background: rgba($cards, $alpha: 0.38);
                .subtotal,
                .precio {
                    @include flexbox(row, space-between, center);
                    padding: 10px;
                    p {
                        color: $text;
                        font-family: $spartan;
                    }
                    .texto,
                    #total {
                        font-weight: bolder;
                    }
                    #total {
                        font-size: 21px;
                    }
                }
            }
            .boton-checkout {
                @include flexbox(row, center, center);
                margin: 10px auto;
                button {
                    background: $text;
                    width: 200px;
                    color: $cards;
                    font-family: $spartan;
                    padding: 12px 30px;
                    border: none;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .crear-cuenta,
        .iniciar-sesion {
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            z-index: 6;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .box-crear,
            .box-iniciar {
                @include crear_cuenta;
                padding: 10px;
                background-color: white;
                width: 400px;
                height: auto;
                position: relative;
                #cerrar {
                    position: absolute;
                    right: 15px;
                    font-size: 20px;
                }
            }
            .mensaje {
                position: absolute;
                top: 30px;
                z-index: 10;
                width: 96vw;
                padding: 15px;
                background: $cards;
                color: $text;
                font-size: 17px;
                font-family: $spartan;
                display: none;
            }
        }

        .disabled {
            display: none;
        }
        main {
            .imagen {
                height: 100vh;
                width: 100%;
                margin: 0 auto;
                position: relative;
                @include flexbox(column, center, center);
                @include slider;
                .flecha {
                    color: $cards;
                    font-size: 30px;
                    position: absolute;
                    bottom: 1.5em;
                    z-index: 6;
                }
            }

            article {
                .quienes-somos {
                    @include flexbox(column, space-around, center);
                    height: 100vh;
                    h2 {
                        padding: 10px;
                        color: $titles;
                        font-family: $spartan;
                        font-size: 30px;
                        text-decoration: underline;
                        text-align: center;
                    }
                    .contenidos {
                        width: 100%;
                        @include flexbox(row, space-around, center);
                        padding: 10px;
                        .contenido {
                            @include flexbox(row, center, center);
                            img {
                                height: 600px;
                                width: 500px;
                                -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                                -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                            }
                        }
                        .contenido-texto {
                            @include flexbox(column, center, center);
                            width: 650px;
                            height: 600px;
                            padding: 20px;
                            h3 {
                                color: $background;
                                font-family: $spartan;
                                font-size: 30px;
                            }
                            p {
                                margin-top: 70px;
                                color: $text;
                                font-family: $questrial;
                                font-size: 18px;
                                line-height: 40px;
                                text-align: justify;
                            }
                        }
                    }
                }
                #productos {
                    h2 {
                        margin: 40px auto;
                        padding: 10px;
                        color: $titles;
                        font-family: $spartan;
                        font-size: 30px;
                        text-decoration: underline;
                        text-align: center;
                    }
                    .productos {
                        margin: 30px auto;
                        display: grid;
                        grid-template-columns: auto auto auto;
                        .producto {
                            @include flexbox(column, space-around, center);
                            background-color: $cards;
                            height: 530px;
                            width: 320px;
                            margin: 30px auto;
                            -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
                            -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
                            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
                            .producto-imagen {
                                height: 230px;
                                width: 250px;
                            }

                            .producto-descripcion {
                                width: 250px;
                                @include flexbox(column, space-between, initial);
                                height: 170px;
                                position: relative;
                                h3,
                                p,
                                h4 {
                                    color: $text;
                                    font-family: $questrial;
                                }
                                h3 {
                                    text-align: center;
                                    font-size: 21px;
                                    height: 50px;
                                    vertical-align: middle;
                                }
                                .descripcion {
                                    font-weight: bolder;
                                    font-size: 19px;
                                    text-align: start;
                                    i {
                                        font-size: 16px;
                                    }
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                                .descripcion-collapse {
                                    padding: 5px 0px;
                                    transition: 0.4s all;
                                    display: none;
                                }
                                .collapsed {
                                    display: flex;
                                    position: absolute;
                                    top: 90px;
                                    width: 250px;
                                    background-color: $cards;
                                    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
                                }
                                .caracteristicas {
                                    @include flexbox(row, space-between, center);
                                    padding: 5px 0px;
                                    .colores {
                                        @include flexbox(row, flex-start, center);
                                        .color {
                                            height: 25px;
                                            width: 25px;
                                            border-radius: 50px;
                                            margin-right: 5px;
                                        }
                                    }
                                    .precio {
                                        width: 30%;
                                        height: 100%;
                                        p {
                                            font-family: $spartan;
                                            font-size: 20px;
                                            font-weight: bolder;
                                        }
                                    }
                                }
                            }
                            button {
                                background-color: $background;
                                height: 50px;
                                width: 260px;
                                color: $text;
                                font-size: 16px;
                                font-family: $questrial;
                                margin-bottom: 20px;
                                padding: 12px 24px;
                                border: none;
                                outline: none;
                                -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                                -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
        footer {
            @include flexbox(column, space-between, center);
            background-color: $text;
            padding: 15px;
            .redes {
                @include flexbox(row, center, center);
                margin: 10px auto;
                .red {
                    @include flexbox(row, center, center);
                    background-color: $background;
                    height: 60px;
                    width: 60px;
                    padding: 20px;
                    margin: 10px 15px;
                    border-radius: 50px;
                    position: relative;
                    top: 0;
                    left: 0;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                    transition: 0.5s all;
                    i {
                        color: $cards;
                        font-size: 25px;
                        padding: 20px;
                        border-radius: 50px;
                    }
                    &:hover {
                        cursor: pointer;
                        top: -5px;
                        left: -5px;
                    }
                }
            }
            p {
                color: $cards;
                font-family: $spartan;
                text-align: center;
                a {
                    font-weight: bolder;
                    text-decoration: none;
                    color: $cards;
                }
            }
        }
    }
}
@media (max-width: 1367px) {
    html body {
        main {
            article {
                #quienes-somos {
                    h2 {
                        font-size: 25px;
                    }
                    .contenidos {
                        .contenido-imagen {
                            img {
                                height: 500px;
                                width: 400px;
                            }
                        }
                        .contenido-texto {
                            h3 {
                                font-size: 25px;
                            }
                            p {
                                font-size: 17px;
                            }
                        }
                    }
                }
                #productos {
                    h2 {
                        font-size: 25px;
                    }
                    .productos {
                        .producto {
                            width: 330px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    html body {
        main {
            article {
                #quienes-somos {
                    .contenidos {
                        .contenido-texto {
                            width: 500px;
                            p {
                                font-size: 17px;
                                line-height: 30px;
                            }
                        }
                    }
                }
                #productos {
                    .productos {
                        .producto {
                            width: 280px;
                            height: 500px;
                            .producto-imagen {
                                margin-top: 10px;
                                width: 230px;
                                height: 190px;
                            }
                            .producto-descripcion {
                                width: 230px;
                                p {
                                    font-size: 14px;
                                }
                                .descripcion-collapse {
                                    width: 230px;
                                    top: 95px;
                                }
                            }
                            button {
                                width: 230px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 900px) {
    html body {
        main {
            article {
                #quienes-somos {
                    .contenidos {
                        .contenido-imagen {
                            img {
                                height: 550px;
                                width: 450px;
                            }
                        }
                        .contenido-texto {
                            width: 450px;
                            height: 550px;
                            p {
                                margin-top: 20px;
                            }
                        }
                    }
                }
                #productos {
                    .productos {
                        grid-template-columns: auto auto;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    html body {
        header {
            .menu-principal {
                display: none;
            }
            .btn-menu {
                height: 50px;
                width: 50px;
                @include flexbox(row, center, center);
                .btn-hamb {
                    height: 4px;
                    width: 35px;
                    background-color: white;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                    &::after {
                        position: absolute;
                        content: "";
                        height: 4px;
                        width: 35px;
                        background-color: white;
                        transform: translateY(-10px);
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                        transition: all 0.3s ease-in-out;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        height: 4px;
                        width: 35px;
                        background-color: white;
                        transform: translateY(10px);
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
                        transition: all 0.3s ease-in-out;
                    }
                }
                .x {
                    background: none;
                    box-shadow: none;
                    &::after {
                        transform: rotate(45deg);
                    }
                    &::before {
                        transform: rotate(-45deg);
                    }
                }
            }

            .show {
                @include flexbox(column, center, center);
                height: 400px;
                background: rgba($background, $alpha: 0.9);
                width: 100%;
                position: absolute;
                top: 80px;
                left: 0;
                z-index: 6;
                animation-name: menu;
                animation-timing-function: 0.8s;
                animation-duration: 0.8s;
                a {
                    width: 100%;
                    color: $cards;
                    text-align: center;
                    font-size: 15px;
                    font-weight: bolder;
                    font-family: $spartan;
                    text-decoration: none;
                    padding: 40px 0px;
                }
            }
        }
        main {
            article {
                #quienes-somos {
                    height: auto;
                    h2 {
                        margin: 40px auto;
                    }
                    .contenidos {
                        @include flexbox(column, center, center);
                        .contenido-imagen {
                            img {
                                width: 550px;
                            }
                        }
                        .contenido-texto {
                            height: 450px;
                            width: 550px;
                            p {
                                width: 550px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 560px) {
    html body {
        .show-menu {
            width: 100vw;
        }
        main {
            .imagen {
                .contenido {
                    .texto-imagen {
                        h1,
                        p {
                            text-align: center;
                        }
                    }
                    img {
                        display: none;
                    }
                }
            }
            article {
                #quienes-somos {
                    .contenidos {
                        .contenido-imagen {
                            img {
                                width: 350px;
                            }
                        }
                        .contenido-texto {
                            width: 100vw;
                            height: auto;
                            p {
                                width: 350px;
                            }
                        }
                    }
                }
                #productos {
                    .productos {
                        .producto {
                            height: 400px;
                            width: 200px;
                            padding: 7px;
                            .producto-imagen,
                            .producto-descripcion,
                            button {
                                width: 180px;
                            }
                            .producto-imagen {
                                height: 170px;
                            }
                            .producto-descripcion {
                                height: 160px;
                                h3 {
                                    font-size: 17px;
                                }
                                .descripcion {
                                    font-size: 15px;
                                    i {
                                        font-size: 10px;
                                    }
                                }
                                .descripcion-collapse {
                                    font-size: 12px;
                                    line-height: 18px;
                                    width: 180px;
                                    top: 85px;
                                }
                                .caracteristicas {
                                    .precio {
                                        p {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                            button {
                                height: 40px;
                                font-size: 14px;
                                padding: 12px;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
        footer {
            .redes {
                .red {
                    margin: 10px 7px;
                }
            }
        }
    }
}
@media (max-width: 425px) {
    html body {
        main {
            .imagen {
                .shadow-slider {
                    .contenido {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        .contenido-texto {
                            h1 {
                                font-size: 50px;
                            }
                            p {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            article {
                #productos {
                    .productos {
                        .producto {
                            height: 350px;
                            width: 170px;
                            margin: 10px auto;
                            .producto-imagen,
                            .producto-descripcion,
                            button {
                                width: 140px;
                            }
                            .producto-imagen {
                                height: 130px;
                                margin-top: 0;
                            }
                            .producto-descripcion {
                                height: auto;
                                h3 {
                                    font-size: 15px;
                                }
                                .descripcion {
                                    font-size: 12px;
                                }
                                .descripcion-collapse {
                                    font-size: 11px;
                                    line-height: 13px;
                                    width: 140px;
                                    top: 60px;
                                }
                                h4 {
                                    font-size: 12px;
                                    margin: 5px 0px;
                                }
                                .caracteristicas {
                                    .precio {
                                        width: 50%;
                                        p {
                                            font-size: 17px;
                                            margin-top: 10px;
                                        }
                                    }
                                }
                            }
                            button {
                                margin-bottom: 0px;
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
        footer {
            .redes {
                .red {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    html body {
        main {
            article {
                #quienes-somos {
                    .contenidos {
                        .contenido-imagen {
                            img {
                                width: 290px;
                                height: 390px;
                            }
                        }
                        .contenido-texto {
                            width: 280px;
                            p {
                                margin-top: 30px;
                                width: 280px;
                            }
                        }
                    }
                }
                #productos {
                    .productos {
                        .producto {
                            width: 150px;
                            .producto-imagen,
                            .producto-descripcion,
                            button {
                                width: 130px;
                            }
                            .producto-imagen {
                                height: 120px;
                            }
                            .producto-descripcion {
                                .descripcion-collapse {
                                    width: 130px;
                                    top: 65px;
                                }
                            }
                            button {
                                padding: 0px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        footer {
            .redes {
                .red {
                    height: 35px;
                    width: 35px;
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
@keyframes menu {
    0% {
        height: 0;
    }
    100% {
        height: 400px;
    }
}
