@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap"); //Font Spartan
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap"); //Font Questrial
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"); //Font Poiret One
$poiret-one: "Poiret One", cursive;
$questrial: "Questrial", sans-serif;
$spartan: "Spartan", sans-serif;
