@mixin crear_cuenta {
    h3 {
        color: $text;
        font: 30px $spartan;
        text-align: center;
    }
    form {
        @include flexbox(column, center, flex-start);
        @include size(initial, 350px);
        padding: 10px;
        margin: 0 auto;
        input {
            @include size(initial, 250px);
            border: 2px solid $text;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
            -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.45);
            font-family: $spartan;
            margin: 0px auto;
            outline: none;
            padding: 25px 10px 2px;
        }
        label {
            @include position(relative, 20px, 52px, initial, initial);
            font: bolder 13px $spartan;
            color: $text;
        }
        button {
            @include size(initial, 250px);
            background: $text;
            border: none;
            color: $cards;
            margin: 10px auto;
            outline: none;
            padding: 12px 24px;
        }
    }
}
