@import "partials/mixins";
@mixin slider {
    /* Slideshow container */
    .shadow-slider {
        @include flexbox(row, center, center);
        @include position(absolute, 0, 0, initial, initial);
        @include size(100%, 100%);
        background: rgba($color: #000000, $alpha: 0.7);
        z-index: 2;
        .contenido {
            @include flexbox(row, space-between, center);
            @include size(initial, 90%);
            .contenido-texto {
                @include position(relative, initial, -40px, initial, initial);
                h1 {
                    color: white;
                    font: lighter 75px $poiret-one;
                    letter-spacing: 7px;
                }
                p {
                    color: white;
                    font: 23px $poiret-one;
                }
            }
            .contenido-imagen {
                @include position(relative, initial, -60px, initial, initial);
            }
        }
    }
    .slideshow-container {
        @include flexbox(row, center, center);
        @include size(100vh, 100vw);
        margin: 0 auto;
        .mySlides {
            @include flexbox(row, center, center);
            @include size(initial, 100%);
            margin: 0 auto;
            img {
                @include size(90vh, 100%);
            }
        }
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
    }
    @media (max-width: 768px) {
        .shadow-slider {
            @include size(55vh, 100%);
            .contenido {
                @include size(auto, 100vw);
                .contenido-texto {
                    @include position(relative, initial, 10px, initial, initial);
                    h1 {
                        font-size: 55px;
                    }
                    p {
                        font-size: 19px;
                    }
                }
                .contenido-imagen {
                    @include position(relative, initial, 0px, initial, initial);
                    img {
                        @include size(150px, 150px);
                    }
                }
            }
        }
        .slideshow-container {
            @include flexbox(row, center, flex-start);
            @include size(55vh, 100vw);
            .mySlides {
                img {
                    @include size(55vh, 100vw);
                }
            }
        }
    }
    @media (max-width: 560px) {
        .shadow-slider {
            @include size(60vh, 100vw);
            .contenido {
                @include flexbox(row, center, center);
                @include size(initial, 100%);
                .contenido-texto {
                    @include position(relative, initial, 0px, initial, initial);
                }
            }
        }
        .slideshow-container .mySlides {
            @include position(relative, initial, initial, initial, initial);
            img {
                @include size(60vh, 100vw);
            }
        }
    }
    @media (max-width: 425px) {
        .shadow-slider {
            @include size(35vh, 100vw);
            .contenido {
                @include flexbox(row, center, center);
                @include size(initial, 100%);
            }
        }
        .slideshow-container {
            @include size(35vh, 100vw);
            .mySlides {
                img {
                    @include size(35vh, 100vw);
                }
            }
        }
    }

    @-webkit-keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
}
